<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCh3yFLBPL72xGS21xfGakdLe4dwV5Nk6k</string>
	<key>GCM_SENDER_ID</key>
	<string>951652872306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gauntletai.freshman.reelai</string>
	<key>PROJECT_ID</key>
	<string>reel-ai-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>reel-ai-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951652872306:ios:7250f504c04c35439b92eb</string>
</dict>
</plist>